@import url('https://fonts.bunny.net/css?family=inter:300,400,500,600,700,800|playfair-display:400,400i,600,600i,700,700i|jetbrains-mono:400,500,600');
@import "tailwindcss";

@theme {
  --color-brand-primary: #1F2922;
  --color-brand-secondary: #5D6D53;
  --color-brand-accent: #D97757;
  --color-brand-accent-light: #E8EADF;
  --color-brand-bg: #FDFCF7;
  --color-brand-text: #1F2922;
  --color-brand-gray: #4A554D;

  --font-sans: "Inter", sans-serif;
  --font-display: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", monospace;
}
